$black: #333;
$green: #11B400;
$lightGrey: #eee;
$orange: #ECA720;
$white: #fff;

a, a:link, a:visited, a:focus, a:active {
    color: $green;

    &.githubEditButton {
        color: $black;
    }
}

a:hover {
    color: darken($green, 10%);
}

h1 {
    border-left: 5px solid $orange;
    padding-left: 10px;
}

h2, h2[id] {
    border-left: 5px solid $orange;
    margin-top: 30px;
    padding-left: 10px;
    padding-top: 0;
}

h3 {
    color: $black;
}

img {
    max-width: 100% !important;
}

body > .container {
    padding-top: 70px;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
    color: $white;

    &:hover {
        color: $green;
    }
}

.nav {
    li, li.active {
        a {
            background-color: $lightGrey;
            color: $black;

            &:hover {
                background-color: $lightGrey;
                color: $green;
            }
        }
    }

    li.sidebarLogo {
        margin-top: 40px;
        text-align: center;
    }

    // this is the second level, so indent a bit
    ul li a {
        padding-left: 20px;
    }
}

.summary {
    border-left: none;
    padding-left: 0;
}
